/** TABLE OF CONTENTS **/
/*=====================================================================================*/
/*
1. BASE
    1.1 Page Rendering Defaults
    1.2 Core Styling

2. LAYOUT
    2.1 Core Layout

/*=====================================================================================*/
/** 1. BASE **/

/* 1.1 Page Rendering Defaults */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  background: rgb(216, 216, 216);
}

/* 1.2 Core Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
  border: 1px solid rgb(150, 150, 150);
}

/* 1.3 Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/*=====================================================================================*/
/** 2. LAYOUT **/

/* Helper for empty layout container visualization, NOTE-K DELETE LATER*/
div, 
main,
section,
footer,
header,
h1, h2, h3, h4, h5, h6 
{
  outline: 1px solid lightgrey;
  min-height: 1rem;
  padding: 1rem;
}

/* 2.1 Core Layout */
.page {
  margin: 0 auto;
  padding: 4rem;
  background: rgb(255, 255, 255);
}

.row {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
  background-color: rgb(255, 253, 242);
}
/*=====================================================================================*/

/* NOTE-K maybe we can use this for within <section> areas
.row{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 0 22rem;
} */


.logo-img,
.inner__banner,
.feature-text,
.heading,
p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text{
  text-align: center;
}
