/** TABLE OF CONTENTS **/
/*=====================================================================================*/
/*
1. BASE
    1.1 Page Rendering Defaults
    1.2 Core Styling

2. LAYOUT
    2.1 Core Layout
    2.2 Small only
    2.3 medium and up
    2.4 Medium only
    2.5 large screens and up
    2.6 Large only
/*=====================================================================================*/
/** 1. BASE **/

/* 1.1 Page Rendering Defaults */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: rgb(216, 216, 216);
}

/* 1.2 Core Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
  border: 1px solid rgb(150, 150, 150);
}

/* 1.3 Typography */
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  color: #494949;
}

.heading {
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.text-small {
  font-size: .7em;
}

h2 {
  font-weight: 400;
}
/*=====================================================================================*/
/** 2. LAYOUT **/

/* Helper for empty layout container visualization, NOTE-K DELETE LATER*/
div, 
main,
section,
footer,
header,
h1, h2, h3, h4, h5, h6 
{
  outline: .1px solid lightgrey;
  min-height: 1rem;
  padding: 1rem;
}

/* 2.1 Core Layout */
.page {
  margin: 0 auto;
  padding: 4rem;
  background: rgb(255, 255, 255);
}

.row {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
  background-color: rgb(255, 253, 242);
}

/*=====================================================================================*/
/* ORGANIZE EVERYTHING BELOW THIS LATER */
/*=====================================================================================*/

.logo-img,
.inner__banner,
.feature-text,
.heading,
p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text{
  text-align: center;
}

/*Aligns things horizontally*/
.fit-horizontal {
  display: flex;
  flex-direction: row;
}

/* TTWD Things That We Do inner contents NOTE-K */
.card__section-ttwd {
  display: flex;
  gap: 1rem;
}

.icon-ttwd {
  display: flex;
  align-self: flex-start;
  width: 10rem;
  object-fit: contain;
}

.text-ttwd {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 40em) {
  .card__section-ttwd {
    flex-direction: column;
  }

  .icon-ttwd {
    width: 6rem;
    align-self: center;
  }

  .text-ttwd {
    text-align: center;
  }
}

/* WUL What' Up Lately inner contents NOTE-K */
.card__section-wul {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card__section-wul .card-img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.img__contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 4em;
  height: 3em;
  background-color: #d8605f;
  z-index: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.img__text-bold {
  display: block;
  font-weight: 400;
  padding: 0;
}

.img__caption {
  width: 100%;
  height: 3.5rem;
  padding: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #19b2de;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img__caption-text {
  color: white;
  line-height: 1rem;
  padding: 0;
}

.img__caption-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .card__section-wul {
    align-items: flex-start;
    overflow-x: hidden;
  }

  .card__section-wul .card-img-expand {
    height: 100%;
    width: 48.5%
  }

  .card__expand {
      display: flex;
      flex-direction: row;
  }

  .img__caption {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .img__caption-expand {
    position: relative;
    width: 51.5%;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 1rem;
    background-color: #19b2de;
  }
}

/*OLP Our Latest Projects inner contents NOTE-K*/
.card__section-olp {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card__section-olp .card-img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.img__caption-olp {
  width: 100%;
  height: 3.5rem;
  padding: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #19b2de;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 40em) {
.img__overlay {
  position: absolute;
  height: 100%;
  background-color: rgba(25,178,222, 0.9);
  align-items: end;
  padding: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.img__caption-text {
  padding-bottom: 0.3rem;
}
}

/* Font related styling */
.header-bold {
  display: block;
  font-weight: 500;
  line-height: 2rem;
}

/* header section still need to be adjusted */

.page-header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.logo {
  width: 100%; 
  max-width: 10rem; 
  margin-top: 4rem;
}

.nav-icons-item {
  width: 100%; 
  max-width: 7rem; 
}

.nav-icons .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 40em) {
  .page-header {
    grid-template-columns: auto; 
    justify-content: center; 
  }

  .logo, .nav-icons-item {
    margin-top: 2rem; 
  }
}

.card-img {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
}

.card-img img {
  max-width: 100%; 
  height: auto; 
}


@media screen and (max-width: 40em) {
  .card-img {
    flex-direction: column; 
    align-items: center; 
  }
}

@media screen and (max-width: 40em) {
  .row.m-col-2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
}

/* FOOTER STILL NEEDS TO BE FIXED */
.card__footer{
  display: flex;
  flex-direction: row;
}


/* 2.2 Small only */

@media screen and (max-width: 39.9375em) {
  .s-hide {
      display: none;
  }
}

/* 2.3 medium and up (tablet and desktop) */

@media screen and (min-width: 40em) {
  .row{
    max-width: 70rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0 auto;
  }
  .m-col-2{
    grid-template-columns: 1fr 1fr;
  }
  .m-col-3{
    grid-template-columns: repeat(3, 1fr);
  }
  .m-col-4{
    grid-template-columns: repeat(4, 1fr);
  }
  .m-col-5{
    grid-template-columns: repeat(5, 1fr);
  }
  .m-1-2{
    grid-template-columns: 1fr 2fr;
  }
}

/* 2.4 Medium Only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /*use this to span across whole page*/
  .m-row-span {
      grid-column-start: 1;
      grid-column-end: -1;
  }
  .m-hide {
      display: none;
  }
}

/* 2.5 large screens and up 2.6 Large only */

@media screen and (min-width: 64em) {
  .l-col-2 {
      grid-template-columns: 1fr 1fr;
  }
  .l-col-3 {
      grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
      grid-template-columns: repeat(4, 1fr);
  }
  .l-col-5 {
      grid-template-columns: repeat(5, 1fr);
  }
  .l-col-6 {
      grid-template-columns: repeat(6, 1fr);
  }
  .l-row-span {
      grid-column-start: 1;
      grid-column-end: -1;
  }
  .l-hide {
      display: none;
  }
}