.row{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 0 22rem;
}

.logo-img{
  display: flex;
  align-items: center;
}

.inner__banner{
  display: flex;
  justify-content: center;
}

.feature-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
